{% extends 'base/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
Dashboard
{% endblock title %}

<!-- Active State -->
{% block dashboard_active %}
active
{% endblock dashboard_active %}

<!-- Content -->
{% block content %}
<!-- Page Content -->
<div class="row">
    <!-- Products -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-dark mb-1">
                            Total Products</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-bag-shopping fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Users -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-dark mb-1">
                            Total Users</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-user fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Orders -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-dark mb-1">
                            Total Orders</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-shop fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xl font-weight-bold text-dark mb-1">
                            Total Sells</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Rs 0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-3x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bar Chart -->
<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-endcenter justify-content-end">
                    <select name="month" class="form-control mr-3" style="width: 300px;" id="">
                        <option value="">Select Month</option>
                    </select>
                    <a href="" class="btn btn-primary">Show</a>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Custom Scripts -->
{% block custom_cripts %}
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
{% endblock custom_cripts %}